<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UltimateMedDB.Business.Properties.Settings.UltimateMedDBConnectionString"
            connectionString="Data Source=.\main;Initial Catalog=UltimateMedDB;Persist Security Info=True;User ID=sa;Password=55Trj6!9"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>